<?xml version="1.0"?>
<system.identityModel.services >
  <federationConfiguration >
    <cookieHandler requireSsl="true"/>
    <!-- Careful with the trailing slash! -->
    <!-- http://stackoverflow.com/questions/4460720/error-a-signinresponse-message-may-only-redirect-within-the-current-web-applic -->
    <wsFederation passiveRedirectEnabled="true" issuer="https://butilitystsserver.azurewebsites.net/Account/index/test"
              realm="https://butilitystsclient.azurewebsites.net/" requireHttps="true" />
  </federationConfiguration>
</system.identityModel.services>