<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="bUtilitySource" switchName="bUtilitySwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <clear/>
          <add name="EvengLoglistener"/>
          <add name="TextListener"/>
          <add name="XmlListener"/>
          <add name="ETWListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--event viewer-->
      <add name="EvengLoglistener"
           type="System.Diagnostics.EventLogTraceListener"
           initializeData="bUtility" />
      <!--detail with full stack and filter for warnings-->
      <add name="TextListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="outfile.txt"
           traceOutputOptions="ProcessId, DateTime, Callstack" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
      </add>
      <!--xml-->
      <add name="XmlListener"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="outfile.xml"
           traceOutputOptions="ProcessId, DateTime" />
      <!--ETW-->
      <add name="ETWListener"
           type="System.Diagnostics.Eventing.EventProviderTraceListener, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           initializeData="{C4D0C1D4-909D-481b-B011-10E682A6009D}" />
    </sharedListeners>
    <switches>
      <!--<add name="bUtilitySwitch" value="Warning" />-->
      <add name="bUtilitySwitch" value="Error"/>
    </switches>
  </system.diagnostics>
</configuration>