<?xml version="1.0"?>
<system.diagnostics >
  <sources>
    <source name="System.IdentityModel" switchValue="Off">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type=""/>
        </add>
        <add name="TraceListener">
          <filter type=""/>
        </add>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="TraceListener" initializeData="sts_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="Timestamp">
      <filter type=""/>
    </add>
  </sharedListeners>
  <trace autoflush="true"/>
</system.diagnostics>