<?xml version="1.0"?>
<bUtility.Sts>
  <relyingParties>
    <rp name="test" tokenLifeTime="480" issuerName="simpleSTS"
        redirectUrl="https://localhost/bUtility.Sts.MvcClient/Sample/index" 
        realm="https://localhost/bUtility.Sts.MvcClient/" 
        authenticationUrl="http://localhost/bUtility.Sts.MvcSample/account"
        tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <signingCertificate storeLocation="LocalMachine" storeName="My" 
                          x509FindType="FindBySubjectName" 
                          findValue="issuer.model.local" />
    </rp>
  </relyingParties>
</bUtility.Sts>
