<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    <tokenReplayDetection enabled="true"/>
    <securityTokenHandlers>
      <securityTokenHandlerConfiguration>
        <!--<certificateValidation trustedStoreLocation="LocalMachine" certificateValidationMode="None"/>-->
        <certificateValidation certificateValidationMode="None"/>
        <serviceTokenResolver type="bUtility.Sts.SecurityTokenResolver, bUtility.Sts"/>
        <audienceUris>
          <add value="https://localhost/bUtility.Sts.ApiClient/"/>
          <add value="https://butilityapiclient.azurewebsites.net/"/>
        </audienceUris>
        <issuerNameRegistry type="bUtility.Sts.ValidatingIssuerNameRegistry, bUtility.Sts">
          <authority name="simpleSTS@azure">
            <keys>
              <!-- thumbprint of issuer.model.local -->
              <add thumbprint="0ef97375f7c6eaa7c2c6b282f7dc09c370ac91c6"/>
            </keys>
            <validIssuers>
              <add name="simpleSTS@azure"/>
            </validIssuers>
          </authority>
        </issuerNameRegistry>
      </securityTokenHandlerConfiguration>
    </securityTokenHandlers>
    <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
    <!--<certificateValidation certificateValidationMode="None" trustedStoreLocation="LocalMachine"/>-->
    <!--<certificateValidation certificateValidationMode="None" />-->
  </identityConfiguration>
</system.identityModel>