<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    <tokenReplayDetection enabled="true"/>
    <securityTokenHandlers>
      <add type="bUtility.Sts.JWTSecurityTokenHandlerFix, bUtility.Sts" />
      <securityTokenHandlerConfiguration>
        <!--<certificateValidation certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="LocalMachine"/>-->
        <certificateValidation certificateValidationMode="None"/>
        <!--<serviceTokenResolver type="bUtility.Sts.SecurityTokenResolver, bUtility.Sts"/>-->
        <!--<serviceTokenResolver type="bUtility.Sts.SecurityTokenResolver, bUtility.Sts"/>-->
        <audienceUris>
          <add value="https://myStsSampleApp/"/>
        </audienceUris>
        <!-- thumbprint of issuer.model.local -->
        <issuerNameRegistry type="bUtility.Sts.ValidatingIssuerNameRegistry, bUtility.Sts">
          <authority name="defaultAuthority">
            <keys>
              <add thumbprint="0ef97375f7c6eaa7c2c6b282f7dc09c370ac91c6"/>
            </keys>
            <validIssuers>
              <add name="simpleSTS@azure"/>
            </validIssuers>
          </authority>
        </issuerNameRegistry>
      </securityTokenHandlerConfiguration>
    </securityTokenHandlers>
  </identityConfiguration>
</system.identityModel>