<?xml version="1.0"?>
<system.identityModel.services >
  <federationConfiguration >
    <cookieHandler requireSsl="true"/>
    <!-- Careful with the trailing slash! -->
    <!-- http://stackoverflow.com/questions/4460720/error-a-signinresponse-message-may-only-redirect-within-the-current-web-applic -->
    <wsFederation passiveRedirectEnabled="true" issuer="https://localhost/bUtility.Sts.MvcServer/Account/index/testApiLocal"
              realm="https://localhost/bUtility.Sts.ApiClient" requireHttps="true" />
  </federationConfiguration>
</system.identityModel.services>