<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="loginUrl" value="https://localhost/bUtility.Sts.MvcSample/Account/Login"/>
    <add key="testUrl" value="https://localhost/bUtility.Sts.MvcClient/Sample/Index"/>
  </appSettings>
</configuration>