<?xml version="1.0"?>
<system.web>
  <authorization>
    <deny users="?" />
  </authorization>
  <compilation debug="true" targetFramework="4.5.1"/>
  <globalization enableClientBasedCulture="true" culture="auto:el" uiCulture="auto:el" requestEncoding="UTF-8" responseEncoding="UTF-8" />
  <httpCookies httpOnlyCookies="true" requireSSL="true"/>
  <httpRuntime targetFramework="4.5.1"
             enableVersionHeader="false"
             requestValidationMode="4.5"
             executionTimeout="120"
             minFreeThreads="64"
             maxRequestLength="10240"
             minLocalRequestFreeThreads="64"
             appRequestQueueLimit="5000"/>
  <machineKey compatibilityMode="Framework45" 
              decryptionKey="93921A109057005B2D8F556768518CD4F50073EDBDE89882" 
              validationKey="EEB4620FA3D04F707D0A03252E224CA7B2F357A7DB8878468EC3A13772CB84821C9EEBEBF1F7D20CB9CE2B35EC49D966241BBBFD789C1C33DC03F303C490D6A4" />
  <sessionState mode="Off"/>
  <customErrors mode="Off" />
</system.web>