<?xml version="1.0"?>
<bUtility.Sts>
  <relyingParties>
    <rp name="test" tokenLifeTime="480" issuerName="simpleSTS@azure"
        redirectUrl="https://butilitystsclient.azurewebsites.net/sample/index"
        realm="https://butilitystsclient.azurewebsites.net/"
        authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/test"
        tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>
    <rp name="testLocal" tokenLifeTime="480" issuerName="simpleSTS@azure"
        redirectUrl="https://localhost/bUtility.Sts.MvcClient/sample/index"
        realm="https://localhost/bUtility.Sts.MvcClient/"
        authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/test"
        tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>
    <rp name="testApiLocal" tokenLifeTime="480" issuerName="simpleSTS@azure"
        redirectUrl="https://localhost/bUtility.Sts.ApiClient/"
        realm="https://myStsSampleApp/"
        authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/testApiLocal"
        tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>
    <rp name="testApiLocal4saml2" tokenLifeTime="480" issuerName="simpleSTS@azure"
        redirectUrl="https://localhost/bUtility.Sts.ApiClient/"
        realm="https://myStsSampleApp/"
        authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/testApiLocal"
        tokenType="urn:oasis:names:tc:SAML:2.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>
    <rp name="testApiLocal4jwt" tokenLifeTime="480" issuerName="simpleSTS@azure"
        redirectUrl="https://localhost/bUtility.Sts.ApiClient/"
        realm="https://myStsSampleApp/"
        authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/testApiLocal"
        tokenType="urn:ietf:params:oauth:token-type:jwt">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>

    <rp name="tokencacheapi" tokenLifeTime="480" issuerName="simpleSTS@azure"
      redirectUrl="https://localhost/tokencacheapi/index/get"
      realm="https://localhost/tokencacheapi/"
      authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/tokencacheapi"
      tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>

    <rp name="tokencacheclient" tokenLifeTime="480" issuerName="simpleSTS@azure"
      redirectUrl="https://localhost/tokencacheclient/index/get"
      realm="https://localhost/tokencacheclient/"
      authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/tokencacheclient"
      tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>
    <rp name="audithost" tokenLifeTime="480" issuerName="simpleSTS@azure"
      redirectUrl="https://localhost/audithost/index/get"
      realm="https://localhost/audithost/"
      authenticationUrl="https://localhost/bUtility.Sts.MvcServer/Account/index/tokencacheclient"
      tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>
    </rp>
  </relyingParties>
</bUtility.Sts>
