<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    <tokenReplayDetection enabled="true"/>
    <securityTokenHandlers>
      <!--http://www.cloudidentity.com/blog/2013/01/28/running-wif-based-apps-in-windows-azure-web-sites-4/?-->
      <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler,System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      
      <securityTokenHandlerConfiguration>
        <certificateValidation certificateValidationMode="None"/>
        <serviceTokenResolver type="bUtility.Sts.SecurityTokenResolver, bUtility.Sts"/>
        <audienceUris>
          <add value="https://butilityapiclient.azurewebsites.net/"/>
        </audienceUris>
        <issuerNameRegistry type="bUtility.Sts.ValidatingIssuerNameRegistry, bUtility.Sts">
          <authority name="simpleSTS@azure">
            <keys>
              <!-- thumbprint of issuer.model.local -->
              <add thumbprint="0ef97375f7c6eaa7c2c6b282f7dc09c370ac91c6"/>
            </keys>
            <validIssuers>
              <add name="simpleSTS@azure"/>
            </validIssuers>
          </authority>
        </issuerNameRegistry>
      </securityTokenHandlerConfiguration>
    </securityTokenHandlers>
    <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
    <!--<certificateValidation certificateValidationMode="None" trustedStoreLocation="LocalMachine"/>-->
  </identityConfiguration>
</system.identityModel>