<?xml version="1.0"?>
<bUtility.Sts>
  <relyingParties>
    <rp name="test" tokenLifeTime="480" issuerName="simpleSTS"
        redirectUrl="https://localhost/bUtility.Sts.MvcClient/Sample/index"
        realm="https://localhost/bUtility.Sts.MvcClient/"
        authenticationUrl="https://butilitystsserver.azurewebsites.net/Account/index/test"
        tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <embeddedSigningCertificate assemblyName="bUtility.Sts.MvcServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
                                  resourceName="bUtility.Sts.MvcServer.certificates.issuer.model.local.pfx" password="123456"/>    </rp>
  </relyingParties>
</bUtility.Sts>
