<?xml version="1.0"?>
<bUtility.Sts>
  <relyingParties>
    <rp name="test" debug="true" tokenLifeTime="480" issuerName="simpleSTS"
        redirectUrl="https://www.nuget.org/packages?q=butility" 
        realm="https://www.nuget.org/" 
        authenticationUrl="http://localhost/bUtility.Sts.MvcSample/account"
        tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
      <signingCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="issuer.model.local" />
    </rp>
  </relyingParties>
</bUtility.Sts>
